@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


*{
  margin: 0;padding: 0;
}

/* Header file CSS */
.header-div{
  width: 100%;
  height: 8vh;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 2px gray;
  color: black;
}
.header-div img{
  width: 80px;
  height: 40px;
  margin-left: 70px;
}
#hamIcon{
  margin-left: 10px;
  cursor:pointer;
  font-size: 1.8rem;
  
}
#logoIcon{
  font-size: 3rem;
  margin-left: 40px;
  cursor: pointer;
  color: rgb(221, 186, 120);
}
.header-div h3{
  color: black;
  font-family: 'Lobster', cursive;
  margin-left: 2px;
  cursor: pointer;
  user-select: none;
  color: rgb(221, 186, 120);
}

/* Footer file CSS */
.footer-div{
  width: 100%;
  height: 6vh;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 2px 2px gray;
  color: black;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.6em;
  position:fixed;
  bottom: 0px;
  margin-top: 10px;
}

/* Write.JSX css property */
.text-area{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-area{
  height: 40vh;
  width: 25%;
  padding: 12px;
}
input{
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  width: 100%;
  padding:  5px;
  margin: 5px auto;
  box-shadow: 1px 3px 3PX 2px gray;
  border-radius: 2px;
}
textarea{
  height: 25vh;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  width: 100%;
  padding:  5px;
  box-shadow: 1px 3px 3PX 2px gray;
  border-radius: 2px;
  
}
.main-area button{
  height: 8vh;
  width: 4vw;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: rgb(217, 191, 143);
  color: white;
  position:relative;
  left:80%;
  bottom: 30%;
  box-shadow: 2px 2px 3px gray;
}
button:hover{
  background-color: white;
  color: orange;
 
}


/* NOTE.JSX css property */
.flexNote{
  max-width: 100%;
  height: 60vh;
  display: flex;
  background-color: burlywood;
}

.note-box{
  max-height: fit-content;
  max-width: fit-content;
  margin:  5px;
  border: 1px solid gray;
  border-radius: 7px;
  box-shadow: 2px 2px 3px gray;
  float: left;
  z-index: 1;
}
.note-box h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  padding: 5px;
  margin: 5px;
}
.note-box p{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7em;
  padding: 5px;
  margin: 5px;
  white-space: pre-wrap;
  inline-size: 250px;
    overflow-wrap: break-word;
}
